.searcItem{
    width: 50% !important;
    margin-top: 6rem;
}
.searcItem button {
    border-color: #ccc; 
    background-color: #fafafa;
    border-radius: 20px;
    color: #323030;
}
.searcItem button:hover {
    background-color: #ccc; 
    border-color: #ccc; 
    color: #000;

}
.form-control{
    border-radius: 20px 0px 0px  20px !important;
}

.form-control:focus {
    border-color: #ccc !important; /* default B5 color or set your own color*/
    outline: #ccc !important;
    box-shadow: none !important;
    color: #8f8f8f !important;
  } 



@media  ( max-width: 599px ){
    .searcItem{
        width: 90% !important;
    }
}