
.nav{
    background: linear-gradient(315deg , #03a8f4c1  , #ff0059be);
    position: relative;
    margin: 0.8rem 1rem;
    text-align: center;
}

.nav-container{
    background-color: transparent;
}
.nav-ico-toggler{
    color: white;
}
.brand-container img{
    max-height: 50px;
}
.nav-link a{
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.nav-link a:hover{
    color: #ff0059be;
}
.nav-ico-actions:active{
    transform: translateY(2px);
}
.nav-category{
    background: linear-gradient(315deg , #03a8f4c1  , #ff0059be);
    background-color: rgb(19, 16, 16) !important;
}

.nav-link .nav-category a:hover{
    background-color: rgb(19, 16, 16);
}

